.leftRig {
  display: flex;
  justify-content: space-between;
}

.lef img {
  border: 1px solid #000000;
  background-color: black;
  padding: 4px;
  width: 500px;
  height: 1200px;
}

@media (max-width: 1920px) {
  .lef img {
    width: 460px;
    height: 1138px;
  }
}
@media (max-width: 1366px) {
  .lef img {
    width: 400px;
    height: 930px;
  }
}
@media (max-width: 415px) {
  .leftRig {
    display: none;
  }
  .lef img {
    width: 430px;
    height: 1000px;
  }
}
