/* .leftRig{
    display: flex;
    justify-content: space-between;
}
.lef img{
    border: 1px solid #000000;
	background-color: black;
	padding: 4px;
    width: 500px;
	height: 1200px;
}
.rig img{
    border: 1px solid #000000;
	background-color: black;
	padding: 4px;
    width: 522px;
    height: 1200px;
    
}
.espan{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    

}
.real{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -1170px;
    
}
.real img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
     
}
.betis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1170px;
}
.betis img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
}
p{
    color: white;
}
.portugal{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    

}
.benfica{
    display: flex;
    flex-direction: column;
    margin-top: -970px;
    
}
.benfica img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
     
}
.porty{
    display: flex;
    flex-direction: column;
    margin-top: -970px;
}
.porty img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
}

.german{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    

}
.bavaria{
    display: flex;
    flex-direction: column;
    margin-top: -770px;
    
}
.bavaria img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
     
}
.borys{
    display: flex;
    flex-direction: column;
    margin-top: -770px;
}
.borys img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
}

.france{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    

}
.psg{
    display: flex;
    flex-direction: column;
    margin-top: -570px;
    
}
.psg img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
     
}
.lion{
    display: flex;
    flex-direction: column;
    margin-top: -570px;
}
.lion img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
}

.Engl{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    

}
.manYna{
    display: flex;
    flex-direction: column;
    margin-top: -370px;
    
}
.manYna img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
     
}
.westhem{
    display: flex;
    flex-direction: column;
    margin-top: -370px;
}
.westhem img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
}

.italy{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 350px;
    

}
.yvent{
    display: flex;
    flex-direction: column;
    margin-top: -170px;
    
}
.yvent img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
     
}
.inter{
    display: flex;
    flex-direction: column;
    margin-top: -170px;
}
.inter img{
    display: flex;
     background-color: black;
     border: 2px solid black;
     border-radius: 30px;
     height: 130px;
     width: 130px;
} */
.teams{
    display: grid;
    width: 65%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    
}