.pagination {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.text{
    color: white;
}
.form {
    display: flex;
    justify-content: center;
    padding: 10px;
    }
.serch {    
       background-color: #990000;
       color: white;
        border-radius: 10px;
        width: 1200px;
        height: 25px;
        border: 2px solid white;
    }
.submit {
    border: 2px solid white;
    background-color: #990000;
    border-radius: 10px;
    width: 60px;
    color: white;
}
.sbros{
    border-radius: 10px;
    border: 2px solid white;
    background-color: #990000;
    color:white;

}
.non{
    color: white;
}
.loading{
    color: white;
}

