.footer {
    padding: 10px 20px;
    background:#990000;
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
 }
.footerTextQ{
    margin-top: 10px;
}

.footerTextW{
    margin-top: 10px;
}
.footerTextE{
    margin-top: 10px;
}
@media (max-width:1920px) {
    .footerTextQ{
        margin-right: 0px;
    }
    
}
@media (max-width:415px) {
    .footerTextE{
        margin-top: 10px; 
    }
    .footerTextQ{
        display: none;
    }
    .footer{
        padding: 42px 20px;
    }
    
}

